[user]
	name = Atlantmois
	email = zidanyang@foxmail.com
[pull]
	rebase = false
[credential "https://github.com"]
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential

[fetch]
    prune = true
[push]
    autoSetupRemote = true
[merge]
    conflictStyle = zdiff3
